*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
}
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

header{
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.department-logo img{
    height: auto;
    width: 250px;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration:none;
    margin: 0 1em;
    color: #000;
}
nav a:hover{
    color: blue;
}

section.hero {
    text-align: center;
  }
  
  .container{
    background-image: url(Images/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
    max-width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
  .hero-image{
    position: relative;
  }
  .hero-text{
    position: absolute;
    top: 20%;
    left: 35%;
    color: #fff;
    padding: 20px;
    text-align: left;
    text-align: center;
    font-size: 60px;
   font-weight: bold;
   color: #fff;
  }
  .hero-text h3{
   font-size: 40px;
   font-weight: bold;
  }
  .flex-container a{
    color: #153D6F;
    font-size: 12px;
  }
  .flex-container a:hover{
    text-decoration: underline;
    color: #B5975D;
  }
  .flex-container a{
    color: #153D6F;
    font-size: 12px;
  }
  .flex-container a:hover{
    text-decoration: underline;
    color: #B5975D;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 20px auto;
    padding-bottom: 80px;
  }
  .flex-container h3{
    color: #153D6F;
    font-size: 30px;
  }
  .right-image{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p{
    font-size: 12px;
  }
  
  .flex-image {
    max-width: 40%;
    margin-left: 20px;
  }
  .flex-container button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #B5975D;
    font-size: 14px;
  }


















    /*Footer Styling*/
    footer {
      background-color: #153D6F;
      color: white;
      padding: 20px 0;
    }
    
    .footer-container {
      display: flex;
      justify-content: space-around;
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .contact-info,
    .social-media,
    .address {
      flex: 1;
    }
    
    footer h3 {
      font-size: 1.2em;
      margin-bottom: 10px;
      color: #B5975D;
    }
    
    footer p {
      margin: 0;
      padding: 8px;
      color: #fff;
    }
    
    footer a {
      text-decoration: none;
      color: white;
      display: block;
      margin: 5px 0;
    }