*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.department-logo img{
    height: auto;
    width: 250px;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration:none;
    margin: 0 1em;
    color: #000;
}
nav a:hover{
    color: blue;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .registration-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding-bottom: 60px;
  }
  
  .registration-form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: block;
    margin: 0 auto 20px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
    
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    font-size: 16px;
    
  }












  /*Footer Styling*/
  footer {
    background-color: #153D6F;
    color: white;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info,
  .social-media,
  .address {
    flex: 1;
  }
  
  footer h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #B5975D;
  }
  
  footer p {
    margin: 0;
    padding: 8px;
    color: #fff;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 5px 0;
  }