*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    
}
p{
  color: #666;
}
header{
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.department-logo img{
    height: auto;
    width: 250px;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration:none;
    margin: 0 1em;
    color: #000;
}
nav a:hover{
    color: blue;
}

section.hero {
    text-align: center;
  }
  
  section.hero img {
    max-width: 100%;
    height: auto;
  }
  .hero-image{
    position: relative;
  }
  .hero-text{
    position: absolute;
    top: 75%;
    color: #fff;
    padding: 20px;
    text-align: left;
  }
  .hero-text h3{
   font-size: 40px;
   font-weight: bold;
  }
  .hero button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #B5975D;
    font-size: 14px;
  }

  /*Hero Ends*/



  div.after-hero-text{
    text-align: center;
    padding: 60px;
  }
  div.after-hero-text h2{
    font-size: 30px;
  }
  div.after-hero-text p{
    font-size: 14px;
    padding: 10px;
  }
  /*Mid-text ends*/

  /*Admissions Section Begins*/
 /* section.admission img{
    width: 400px;
    float: left;
    margin: 30px;
    display: flex;
    align-items: center;
  }
  .admission-image2-container{
    content: "";
    display: table;
    clear: both;
  }*/

  .flex-container a{
    color: #153D6F;
    font-size: 12px;
  }
  .flex-container a:hover{
    text-decoration: underline;
    color: #B5975D;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 20px auto;
    padding-bottom: 80px;
  }
  .flex-container h3{
    color: #153D6F;
    font-size: 30px;
  }
  h6{
    font-size: 12px;
  }
  
  .flex-image {
    max-width: 40%;
    margin-right: 60px;
  }
  .flex-container button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #B5975D;
    font-size: 14px;
  }
  .programs-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 20px auto;
  }
  
  .program {
    text-align: center;
    max-width: 30%;
  }
  
  .program img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .program h2 {
    margin: 10px 0;
  }
  
  .program p {
    color: #666;
  }
  
  .program a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }









  /*Footer Styling*/
  footer {
    background-color: #153D6F;
    color: white;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info,
  .social-media,
  .address {
    flex: 1;
  }
  
  footer h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #B5975D;
  }
  
  footer p {
    margin: 0;
    padding: 8px;
    color: #fff;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 5px 0;
  }